@model IEFI_SyO_Mascotas.Models.Razas

@{
    ViewBag.Title = "Borrar Raza";
}

<h2>Borrar Raza</h2>

<h3>¿Estás seguro de que deseas eliminar la siguiente raza?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animales.Nombre_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animales.Nombre_Animal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
