@model IefiSistemas2023.Models.Mascota

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar Mascota</h2>

<h3>¿Estás seguro que deseas eliminar la siguiente mascota?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Mascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Mascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza.Nombre_Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza.Nombre_Raza)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
