@model IefiSistemas2023.Models.Animale

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de animal</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Animal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Animal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
