@model IefiSistemas2023.Models.Raza

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Raza</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animale.Nombre_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animale.Nombre_Animal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Raza }) |
    @Html.ActionLink("Back to List", "Index")
</p>
